@using StorageMonster.Web.Views.Account
@model StorageMonster.Web.Models.Account.LogOnModel


<div id="logOnContainer">
    <div>
        <h2>@Resources.LogOnTitle</h2>
    </div>
    <p>
        @Resources.LogOnText @Html.ActionLink(Resources.RegisterLinkContent, "Register", "Account") @Resources.RegisterText
    </p>  

    @Html.Partial("~/Views/Shared/Controls/MessagesControl.cshtml", @Resources.LogOnValidationSummary)

    <div class="well">
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post)) {        
            <fieldset>
                <legend>@Resources.AccountInfoTitle</legend>
                <p>
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "input-block-level" })
                    @Html.ValidationMessageFor(model=>model.Email)
                </p>
                <p>                        
                    @Html.LabelFor(model => model.Password)                            
                    @Html.PasswordFor(model => model.Password, new { @class = "input-block-level" })
                    @Html.ValidationMessageFor(model=>Model.Password)
                </p>
                <p>
                    <label class = "checkbox">
                        @Html.CheckBoxFor(model => model.RememberMe)
                        @Html.LabelFor(model => model.RememberMe)                  
                        @Html.ValidationMessageFor(model=>Model.RememberMe)
                    </label>
                </p>
                <p>
                    @Html.HiddenFor(model=>model.ReturnUrl)
                    <input type="submit" class="btn" value="@Resources.LogOnButtonText" />
                    @Html.ActionLink(@Resources.ResetPasswordLinkContent, "ResetPasswordRequest", "Account")
                </p>
            </fieldset>        
        }
    </div>
</div>