@using System.Globalization
@using StorageMonster.Web.Properties.ViewsResources
@using StorageMonster.Web.Services.Security
@model StorageMonster.Web.Models.Account.ResetPasswordModel

<div id="resetPasswordControl">
    @Html.Partial("~/Views/Shared/Controls/MessagesControl.cshtml", AccountResources.ResetPasswordValidationSummary)

    @if (Model != null) { 
        <div class="well">
            @using(Html.BeginForm()) {         
                <fieldset>    
                    <legend>@AccountResources.ResetPasswordTitle</legend> 
                    <p>
                        @String.Format(CultureInfo.CurrentCulture, AccountResources.PasswordRequirementFormat, Model.MinPasswordLength)
                    </p>            
           
                    <p>                        
                        @Html.LabelFor(model => model.NewPassword)                              
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "input-block-level" })
                        @Html.ValidationMessageFor(model => model.NewPassword)                 
                    </p> 
                    <p>                        
                        @Html.LabelFor(model => model.ConfirmNewPassword)                              
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "input-block-level" })
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)               
                    </p> 
                    <p>
                        @Html.HiddenFor(model=>model.Token)
                        @Html.AntiForgeryToken(AntiForgerySalts.ResetPassword)
                        <input type="submit" class="btn" value="@AccountResources.ResetPasswordButtonText" />
                    </p>
                </fieldset>
            } 
        </div>
    } 
</div>
