@using StorageMonster.Web.Properties.ViewsResources
@using StorageMonster.Web.Services.Security
@model StorageMonster.Web.Models.Account.ResetPasswordRequestModel
<div id="resetPasswordRequestControl">
    <h2>@AccountResources.ResetPasswordRequestTitle</h2>
    @Html.Partial("~/Views/Shared/Controls/MessagesControl.cshtml", AccountResources.ResetPasswordRequestValidationSummary)
    
    @if (Model != null)
    {
        <p>@AccountResources.ResetPasswordRequestFormInfo</p>
        
        <div class="well">
            @using (Html.BeginForm())
            {
                <p>                        
                    @Html.LabelFor(model => model.Email)                           
                    @Html.TextBoxFor(model => model.Email, new {@class = "input-block-level"})
                    @Html.ValidationMessageFor(model => model.Email)  
                </p>
                <p>
                    @Html.AntiForgeryToken(AntiForgerySalts.ResetPasswordRequest)
                    <input type="submit" class="btn" value="@AccountResources.ResetPasswordRequestButtonText" />
                </p>
            }
        </div>
    }
</div>