@using StorageMonster.Web.Services.Security
@using StorageMonster.Web.Views.Account
@model StorageMonster.Web.Models.Account.ResetPasswordModel
<div id="resetPasswordRequestControl">
    <h2>@Resources.ResetPasswordRequestTitle</h2>
    @Html.Partial("~/Views/Shared/Controls/MessagesControl.cshtml", Resources.ResetPasswordRequestValidationSummary)
    
    @if (Model != null)
    {
        <p>@Resources.ResetPasswordRequestFormInfo</p>
        
        <div class="well">
            @using (Html.BeginForm())
            {
                <p>                        
                    @Html.LabelFor(model => model.Email)                           
                    @Html.TextBoxFor(model => model.Email, new {@class = "input-block-level"})
                    @Html.ValidationMessageFor(model => model.Email)  
                </p>
                <p>
                    @Html.AntiForgeryToken(AntiForgerySalts.ResetPassword)
                    <input type="submit" class="btn" value="@Resources.ResetPasswordRequestButtonText" />
                </p>
            }
        </div>
    }
</div>