@using StorageMonster.Web.Views.Account

@model StorageMonster.Web.Models.Account.LogOnModel
@{
    ViewBag.Title = AccountResources.LogOnTitle;
}


<div id="logOnContainer">
    <div>
        <h2>@AccountResources.LogOnTitle</h2>
    </div>

    @Html.Partial("~/Views/Shared/MessagesPartial.cshtml", @AccountResources.LogOnValidationSummary)

    <div class="well">
         @using (Html.BeginForm("LogOn", "Account", FormMethod.Post)) {        
            <fieldset>    
                <legend>@AccountResources.AccountInfoTitle</legend>
                <p>
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model=>model.Email)
                </p>
                <p>                        
                    @Html.LabelFor(model => model.Password)                            
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model=>Model.Password)
                </p>
                <p>
                    <label class = "checkbox">
                        @Html.CheckBoxFor(model => model.RememberMe)
                        @Html.LabelFor(model => model.RememberMe)                  
                        @Html.ValidationMessageFor(model=>Model.RememberMe)
                    </label>
                </p>
                <p>
                    @Html.HiddenFor(model=>model.ReturnUrl)
                    <input type="submit" class="btn" value="@AccountResources.LogOnButtonText" />
                    @Html.ActionLink(@AccountResources.ResetPasswordLinkContent, "ResetPasswordRequest", "Account", null, new { target = "_blank" })
                </p>
            </fieldset>        
        }
    </div>
</div>