<!DOCTYPE html>
<html>
    <head>
        @RenderSection("Styles", false)
        @Html.Partial("DefaultMeta")
    </head>
    <body>
        @Html.Partial("PublicNavbar")
        @Html.Partial("BrowserCheck")
        @RenderBody()
        @RenderSection("Scripts", false)
    </body>
</html>
