@using CloudBin.Core
@using CloudBin.Web.UI.Services
@model CloudBin.Web.UI.Models.Account.RegisterModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    this.SetTitleAndDescription(ApplicationResources.RegisterTitle, ApplicationResources.RegisterDescription);
}

@section Scripts{
    @Html.CloudBin().RenderScriptBundle("jquerycommon.js")
}

@section Styles{
    @Html.CloudBin().RenderStyleBundle("theme_moonlight") @*.RenderDefaultThemeBundle()*@
}

<section class="well">
    <i class="fa fa-sign-in fa-3"></i>
    
    @Html.CloudBin().CurrentLocaleFlag()
    @*<h2 class="ra-well-title">Profile Setup</h2>*@
</section>

<div>

        @using(Html.BeginForm("Register", "Account", FormMethod.Post))
        {
        <p>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "input k-textbox", @autocomplete = "off" })
            @Html.ValidationMessageFor(m=>m.UserName)
        </p>
        <p>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "input k-textbox", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Email)
        </p>
        <input type="submit" value="Register" />
        }

    </div>
