@using StorageMonster.Web.Services.Extensions
@using StorageMonster.Web.Views.Shared

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @Html.IncludeCss(new[] 
    { 
        "~/Content/reset.css",
        "~/Content/themes/base/bootstrap.min.css",
        "~/Content/themes/base/bootstrap-responsive.min.css",
        "~/Content/themes/base/site.css"
    })
    
    @Html.IncludeJs(new[] 
    { 
        "~/Scripts/jquery-1.8.3.min.js",
        "~/Scripts/jquery.validate.min.js",
        "~/Scripts/jquery.validate.unobtrusive.min.js",
        "~/Scripts/bootstrap.min.js",
        "~/Scripts/monster.common.js",
                
    })

    @if (Request.IsAuthenticated)
    {
        @Html.IncludeJs(new[]
            {
                "~/Scripts/underscore.min.js",
                "~/Scripts/backbone.min.js",
                "~/Scripts/storagemonster.js"
            })
    }
    
    @Html.Partial("Controls/JsMessagesControl")    

</head>
    <body>
        <style>
            .loader {
                background: url('../Content/images/loader.gif');
                height: 6px;
                width: 50px;
            }
        </style>
        <div id="main-menu">
            <div class="navbar navbar-fixed-top navbar-inverse">
                <div class="navbar-inner">            
                    <div class="container-fluid">
                        <a class="brand" href="@Url.Content("~/")">@Resources.Title</a>  
                        @Html.Partial("Controls/NavBarMenuControl")          
                    </div>
                </div>
            </div>   
        </div>
        <div>
            @RenderBody()
        </div>
        <div>
            @Html.Partial("Controls/AjaxLogonModalControl")
        </div>


        <script>
            $(function () {
                $('#test').on('click', function (e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    MonsterApp.Ajax({
                        url: url,
                        cache: false,
                        dataType: 'json',
                        type: 'GET',
                        success: function (data) {
                            //$('#Modal').modal('show');
                            // console.log(data);
                        },
                        error: function(error) {
                            //$('#Modal .modal-body').html(error.responseText)
                            //$('#Modal').modal('show');
                        }
                    });
                });
            })
        </script>
        <a id="test" href="@Url.Action("Index", "Home", null)">test</a><br>
                                                                       
                                                                       
    </body>
</html>
