@using StorageMonster.Web.Views.Shared
<ul class="nav pull-right">
    @if (Request.IsAuthenticated) { 
        
        
        <li class="navbar-text">   
            <p>    
                @SharedResources.LogOnWelcome <b>@HttpContext.Current.User.Identity.Name</b>    
            </p>
        </li>
        <li class="divider-vertical"></li>
        <li>
            @Html.ActionLink(SharedResources.LogOffLinkContent, "LogOff", "Account")
        </li>
    } else  {
        <li>
        @Html.ActionLink(@SharedResources.LogOnLinkContent, "LogOn", "Account")
        </li>
    }
</ul>        