@using CloudBin.Web.Core
@using CloudBin.Web.Core.Bundling
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @ViewData["Message"]
    @Html.RenderScriptBundle("jquerycommon.js")
    @Html.RenderStyleBundle("site.css")
    @*@Scripts.Render(BundleHelper.GetBundlePath("jquerycommon.js"))
    @Styles.Render("~/bundles/site.css")*@
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
    <body>
        <br>
         @Html.ActionLink("index", "Index")
        <br>
        @Html.ActionLink("test", "Test")
        <br>
        
    </body>
</html>

