@using CloudBin.Web.Core
@using CloudBin.Web.Core.Bundling
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	@Html.RenderStyleBundle("site.css")
    <title>@ViewData["Message"]</title>
    
    
    @*@Scripts.Render(BundleHelper.GetBundlePath("jquerycommon.js"))
    @Styles.Render("~/bundles/site.css")*@
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
    <body>
	@ViewData["Message"]
        <br/>
         @Html.ActionLink("index", "Index")
        <br/>
        @Html.ActionLink("test", "Test")
        <br/>
        @Html.RenderScriptBundle("jquerycommon.js")
    </body>
</html>

